@model QuotingDojo.Models.Quote 
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1>Welcome to Quoting Dojo</h1>
    
    <form asp-action="Create" asp-controller="Home" method="Post">
        <span asp-validation-for="name" class="text-danger"></span>
        <br>
        <label asp-for="name"></label>
        <input asp-for="name">
        <br>
        <span asp-validation-for="quote" class="text-danger"></span>
        <br>
        <label asp-for="quote"></label>
        <textarea asp-for="quote" rows="4" cols="50"></textarea>
        <br>
        <button>Add my quote!</button> | <a href="#"><button>Skip to Quotes!</button></a>
    </form>
</div>