@model Catch
<div class="container-fluid text-center">
<header>        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h3>FishON!</h3> 
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/logout"><button> Logout</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>Log Your Catch</h3>
        <form enctype="multipart/form-data" asp-action="Log" asp-controller="Home" method="Post">
            <input type="hidden" asp-for="UserId" value="@ViewBag.UserId">            <p class="text-danger"><span asp-validation-for="Img"></span></p>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <br>
            <br>
            <label asp-for="Species"></label>
            <p><input class="form-control" asp-for="Species"></p>
            <label asp-for="Location"></label>
            <p><input class="form-control" asp-for="Location"></p> 
            <p class="text-danger"><span asp-validation-for="Date"></span></p>
            <label asp-for="Date"></label>
            <p><input class="form-control" asp-for="Date"></p>
            <p class="text-danger"><span asp-validation-for="Description"></span></p>
            <label asp-for="Description"></label>
            <p><textarea class="form-control" asp-for="Description" cols="30" rows="3"></textarea></p>
            <button class="btn btn-primary mb-2">Log Catch!</button>
        </form>
        </div>
        <div class="col"></div>
    </div>
    
    
    </div>


       <footer class="botnav border-top footer text-center">
        <div class="row">
            <div class="col text-right">
                <a href="/allposts"><img class="imglink" src="https://cdn.pixabay.com/photo/2018/05/21/12/36/clipart-3418130_960_720.png" alt="View All Posts Image Link"></a>
            </div>
            <div class="col-1 text-center">
                <a href="/dashboard"><img class="imglink" src="https://image.flaticon.com/icons/svg/56/56494.svg" alt="Log Catch Image Link"></a>
            </div>
            <div class="col text-left">
                <a href="/addpost"><img class="imglink" src="https://image.flaticon.com/icons/svg/60/60745.svg" alt="Log Catch Image Link"></a>
            </div>
        </div>
    </footer>
</div>