<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FishON!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/registration">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="logbg jumbotron text-center">
    
    <div class="row">
        <div class="col"></div>
        <div class="logdiv border border-dark col">
            <h1>Login</h1>
            <form action="#" method="Post">
                <p>Email: <input type="text"></p> 
                <p>Password: <input type="text"></p>    
                <button>Fish On!</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    
</div>