<div class="jumbotron text-center">
    <h4>Random passcode(passcode #@ViewBag.Score)</h4>
    <span class="border-primary">
        @Model
    </span>
    <br>
    <a href="click"><button>Generate</button></a> 
</div> 