/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.regbg {
  background-image: url("https://image.freepik.com/free-photo/high-angle-view-various-fishing-equipments-turquoise-background_23-2147894104.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 } 

.regdiv{
   margin: 100px;
   padding: 20px;
   background-color: white;
   opacity: 0.7;
}

.logbg {
  background-image: url("https://image.freepik.com/free-photo/overhead-view-fishing-rod-bait-wooden-background_23-2147894102.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 } 

 .logdiv{
  margin: 150px;
  padding: 20px;
  background-color: white;
  opacity: 0.7;
  
}

.botnav{
  padding-bottom: 2%;
}

.imglink{
  width: 55px;
  height: 55px;
}

.postDiv{
  height: 100px;
  /* width: 50px; */
  overflow: auto;
}

.likebtn{
  height: 20px;
  width: 20px;
}